output.yeti
out/production/
output.scala
funcC/a.out
*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.idea/workspace.xml
.idea/status.xml

# NetBeans specific
funcJava/nbproject/private/
funcJava/build/
/funcJava/dist/
